:root {
  --accent-color: #6f6fc8;
}
body {
  background-color: rgb(27, 27, 46);
}
.App {
  margin: 50px 20px;
  display: flex;
  justify-content: center;
}
.todos_section {
  width: 250px;
  min-height: 400px;
  margin: 25px;
  transition: 0.8s;
  box-shadow: 0px 0px 25px 1px rgba(78, 59, 241, 0.4);
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
}
.todos_section:hover {
  border: 4px solid var(--accent-color);
}
.todos_section:focus {
  border: 4px solid var(--accent-color);
}
.activeTodos {
  background: #fdf7f7ea;
  justify-content: center;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.activeTodosInput {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  outline: none;
  background: #f8f8f8;
  box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  border: none;
  padding: 15px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.completedTodos {
  background: #e9f8e7;
}
.checkbox {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.deletedTodos {
  background: #f8e6dd;
}

.title {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.41);
  height: 30px;
}

.todos {
  margin-top: 40px;
}
.todo {
  width: 210px;
  min-height: 10px;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoText {
  margin: 0px 10px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
}
.closeButton {
  padding-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}
.delete {
  color: red;
  font-size: 11px;
  padding: 5px;
  margin-right: -5px;
}
@media (max-width: 880px) {
  .App {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .todos_section {
    width: 100%;
    min-height: 0px;
    margin: 0px;
    box-shadow: 0px 0px 25px 1px rgba(78, 59, 241, 0.4);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  .todo {
    width: 100%;
    min-height: 40px;
    margin-top: 15px;
    padding: 0px;
  }
  .title {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.41);
    height: 10px;
  }
  .checkbox {
    margin-left: 20px;
  }
  .closeButton {
    margin-right: 20px;
  }
  .todoText {
    margin: 10px 20px;
  }
}
